<%= render "layouts/header" %>
<div class='message-index-foundation'>
    <div class='main-block'>
        <div class='main-upper-block'>
            <div class='upper-left-block'>
                <%= current_fun.last_name %> <%= current_fun.first_name %>
            </div>
            <div class='upper-right-block-new'>
                <%= @partner_name.last_name %> <%= @partner_name.first_name %>            
            </div>            
        </div>
        <div class='main-under-block'>
            <div class='under-left-block'>
                <div class='under-left-funs'>
                    <% @funs.each do |fun| %>
                        <div class='each-funs-block'>
                            <%= link_to new_message_path(fun_id: fun.id) do %>
                                <% if !fun.value_creater.nil? %> 
                                    <%= image_tag fun.value_creater.image, class: "message-companion-images" %>
                                <% elsif fun.gender_id == 2 %>
                                    <%= image_tag("man-temporary.png", class:"message-companion-images") %>
                                <% elsif fun.gender_id == 3 %>
                                    <%= image_tag("woman-temporary.png", class:"message-companion-images") %> 
                                <% elsif fun.gender_id == 4 %>
                                    <%= image_tag("lgbt-temporary.png", class:"message-companion-images") %> 
                                <% end %>
                            <% end %>
                            <%= fun.last_name %> <%= fun.first_name %>
                        </div>
                    <% end %>
                </div>
                <div class='under-left-creaters'>
                    <% @value_creaters.each do |creater| %>
                        <div class='each-creaters-block'>
                            <%= link_to new_message_path(value_creater_id: creater.id) do %>
                                <%= image_tag creater.image, class: "message-companion-images" %>
                            <% end %>
                            <%= creater.fun.last_name %> <%= creater.fun.first_name %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class='under-right-block-new'>
                <div class='new-messages-block'>
                    <div class='partner-left-messages'>
                    </div> 
                    <div class='myself-right-messages'>
                    </div> 
                </div>
                <%= form_with model: @message, url: messages_path(partner_id: @partner_create_path), id: 'new-message-form', class: 'new-message-form', local: true do |f| %>
                    <%= image_tag("type-icon.png", class:"message-type-icon") %>
                    <%= f.text_field :content, class: 'message-content', placeholder: 'メッセージ...' %>
                    <%= f.submit '送信', class: 'form-submit' %>
                <% end %>
            </div>    
        </div>
    </div>
</div>