<%= render "layouts/header" %>
<div class='followings-foundation'>
  <% @value_creaters.each do |creater| %>
    <div class='followings-each-creater-block'>
      <%= link_to value_creater_path(creater) do %>
        <%= image_tag creater.image, class: "followings-creater-images" %>
      <% end %>
      <div class='followings-each-creater-texts'>
        <p> <%= creater.fun.last_name %> <%= creater.fun.first_name %>
        <span class='followings-sentence'> <%= creater.fun.gender.name %> </span> </p>
        <p> <%= creater.name_workplace %> </p>
        <p> <%= creater.address_workplace %> </p>
      </div>
    </div>
  <% end %>
</div>