<div class="page-block">
  <div class="page-upper-block">  

    <div class="page-upper-left-block">
      <div class='sessions-image'>
        <%= image_tag("funup.png", class:"funup-logo-session1") %>
      </div>
      <div class="concept-text">
        <h1>
          一生懸命働くあなたにfunを、<br>応援したくなるあの人に感謝を、<br>働く人と応援する人をつなぐSNS。
        </h1>
      </div>
    </div>

    <div class="page-upper-right-block">
      <div class="sign-in-form">
        <%= image_tag("funup.png", class:"funup-logo-session2") %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, placeholder:"メールアドレス", class: 'signin-email' %>
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder:"パスワード", autocomplete: "off", class: 'signin-password' %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: 'login-btn' %>
          </div>
        <% end %>
      </div>

      <div class="link-signup">
        アカウントをお持ちでないですか？<%=link_to '登録する', new_fun_registration_path, class:"signup-btn" %>
      </div>
    </div>

  </div>

  <div class="page-under-white-block">
  </div>
</div>
