<div class="page-block">
  <div class="upper-block">  

    <div class="left-block">
      <div class='sessions-image'>
        <%= link_to image_tag("funup.png", class:"funup-logo") %>
      </div>
      <div class="concept-text">
        <h1>
          一生懸命働くあなたにfunを、<br>応援したくなるあの人に感謝を、<br>働く人と応援する人をつなぐSNS。
        </h1>
      </div>
    </div>

    <div class="right-block">
      <div class="sign-in-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
      </div>

      <div class="link-signup">
        アカウントをお持ちでないですか？<%=link_to '登録する', new_fun_registration_path, class:"signup-btn" %>
      </div>
    </div>

  </div>

  <div class="under-white-block">
  </div>
</div>
