        <%= current_fun.last_name%>
       
        <%= form_with model: @value_creater, url: value_creaters_path, id: 'new_fun', class: 'new_fun', local: true do |f| %>
          <%#<%= render "devise/shared/error_messages", resource: resource %>

          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>

          <div class='input-name-wrap'>
            <%= f.text_area :name_workplace, class:"value_creater", id:"name_workplace", placeholder:"勤務先" %>
          </div>  

          <div class='input-name-wrap'>
            <%= f.text_area :address_workplace, class:"value_creater", id:"address_workplace", placeholder:"勤務地" %>
          </div> 

          <div class='input-name-wrap'>
            <%= f.text_area :introduction, class:"value_creater", id:"introduction", placeholder:"自己紹介" %>
          </div> 


          <div class="actions">
            <%= f.submit "登録する" %>
          </div>
        <% end %>