<%= render "layouts/header" %>
<div class="show-center-block">
  <div class="upper-block">
    <div class='creater-img-content'>
      <%= image_tag @value_creater.image, class: "creater-img" %>
    </div>
  
    <% if current_fun.following?(@value_creater) %>
        <%= link_to 'メッセージを送信', messages_path, class: 'message-btn'%>
        <%= link_to value_creater_relationships_path(@value_creater.id), method: :delete do %>
        <%= image_tag("unfollow.png", class:"fun-btn") %>
        <% end %>
    <% else %>
      <%= link_to value_creater_relationships_path(@value_creater.id), method: :post do %>
        <%= image_tag("fun-btn.png", class:"fun-btn") %>
      <% end %>
    <% end %>

  </div>
  <div class="show-under-block">         
    <div class="first-line">
      <h3 class='creater-name'>
        <%= @value_creater.fun.last_name %> <%= @value_creater.fun.first_name %>
      </h3>
    </div>
    <div class="second-line">
        <%= @value_creater.name_workplace %>
    </div>
    <div class="third-line">
         <%= @value_creater.address_workplace %>
    </div>
    <div class="fourth-line">
         <%= @value_creater.introduction %>
    </div>
</div>          