
  <div class="header">

    <%= link_to root_path do %>
      <%= image_tag("funup.png", class:"header-funup-logo") %>
    <% end %>

    <%= form_with(url: search_value_creaters_path, local: true, method: :get, class: "search-form") do |form| %>
      <form>
        <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
      </form>
    <% end %>

    <%= link_to root_path do %>
      <%= image_tag("home-icon.png", class:"header-home-icon") %>
    <% end %>

    <%= link_to fun_followers_path(current_fun.id) do %>
      <%= image_tag("fun-icon.png", class:"header-fun-icon") %>
    <% end %>

    <%= link_to fun_followings_path(current_fun.id) do %>
      <%= image_tag("cheer-icon.png", class:"header-cheer-icon") %>
    <% end %>

    <%= link_to fun_path(current_fun.id) do %>
      <%= image_tag("temporary-storage.png", class:"header-user-icon") %>
    <% end %>

  </div>